# MongoDB Atlas connection string
MONGODB_URI=your_mongodb_uri

# JWT secret (change this in production)
JWT_SECRET=your_jwt_secret

# Static admin credentials (not in DB)
ADMIN_EMAIL=admin@arenaos.com
ADMIN_PASSWORD=change_this_admin_password

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3005
PORT=3005
